In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
home_df = pd.read_csv('home_df.csv')
away_df = pd.read_csv('away_df.csv')

In [3]:
home_df.head(5)

                Team   Conference  MP  GF  GA       ATT       DEF
0                VMI        SoCon   9  18  12  1.151761  0.923142
1  George Washington  Atlantic 10   7   7  12  0.593771  1.546288
2           Delaware          CAA   8  23  10  1.724328  0.980243
3          Boston U.      Patriot  10  11  11  0.439991  0.938733
4          Villanova     Big East   9  14  18  0.857125  1.629419

In [7]:
# Merge home_df and away_df on 'Team' and 'Conference'
overall_df = pd.merge(home_df, away_df, on=['Team', 'Conference'], how='inner')

# Metrics to combine
metrics = ['MP', 'GF', 'GA', 'ATT', 'DEF']

# Combine _x and _y metrics
for metric in metrics:
    overall_df[metric] = overall_df[f'{metric}_x'] + overall_df[f'{metric}_y']

# Drop original _x and _y columns
columns_to_drop = [f'{metric}_x' for metric in metrics] + [f'{metric}_y' for metric in metrics]
overall_df = overall_df.drop(columns=columns_to_drop)

# Average ATT and DEF metrics
overall_df['ATT'] = overall_df['ATT'] / 2
overall_df['DEF'] = overall_df['DEF'] / 2

# Create 'STR' column (normalized strength by conference)
overall_df['STR'] = (overall_df['ATT']*0.6 + (1 / overall_df['DEF'])*0.4)

In [9]:
overall_df['MAX'] = (overall_df['STR'] - overall_df['STR'].min()) / (overall_df['STR'].max() - overall_df['STR'].min())*100

In [23]:
overall_df = overall_df.sort_values(by='MAX', ascending=False).head(75)
overall_df = overall_df.reset

In [27]:
overall_df['Rank'] = overall_df.index + 1
overall_df['MAX'] = overall_df['MAX'].astype(int)

In [29]:
overall_df.head()

,Team,Conference,MP,GF,GA,ATT,DEF,STR,MAX,Rank
67,Ohio St.,Big Ten,22,51,19,1.974281,0.588946,1.863748,100,68
196,Vermont,America East,24,48,19,1.386663,0.448323,1.724213,90,197
164,Duke,ACC,19,44,20,1.796598,0.633478,1.709394,88,165
71,Pittsburgh,ACC,20,38,18,1.579608,0.539377,1.689361,87,72
209,Denver,Summit League,23,44,18,1.533825,0.523512,1.684366,87,210

In [52]:
#overall_df.to_csv('ncaa_ratings.csv')